<div class='container px-5 px-sm-0'>
  <%= render 'layouts/errors', obj: @wardrobe %>
      <h2 class="mt-3">Wardrobes</h2>
      <%= render 'index', wardrobes: @wardrobes, wardrobe: @wardrobe %>
</div>