<h2>User</h2>
<div class="user_content">
  <div class="user_left">
  <%= render 'info', user: current_user %>
  </div>
  <div class="user_right">
  <%= image_tag 'IMG_3186.JPG', :size =>'300x300' %>
  </div>
</div>
