<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
        <div class='col-md-8 offset-md-1'>
            <%= render 'layouts/search', searches: @search %>
        </div>
    </div>
  </div>
</div>

<div class='container'>
  <%= render 'layouts/calendar', calendars: @calendar %>
</div>

<%= @calendar.to_json %>


<script>
$('#calendar').fullCalendar({});

$('#calendar').fullCalendar(
    {
          start: '2019-08-06',
          end: '2019-08-08',
          overlap: false,
          rendering: 'background',
          color: '#ff9f89'
        }
);
</script>
