<div class="edit_content">
  <div class="edit_left">
    <h1>Editing Event</h1>
    
    <%= render 'form', event: @event %>
    
    <%= link_to 'Show', @event %> |
    <%= link_to 'Back', mypage_path %>
  </div>
  <div class="edit_right"> 
    <%= image_tag 'IMG_3202.jpg', :size =>'300x300' %>
  </div>
</div>
