<% @calendars.each do |calendar| %>
  <div id='inputScheduleEditForm<%= calendar.id %>' class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-nm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">EDIT</h4>
        </div>

        <div class="modal-body">
          <div  class="col">
            <%#= form_with(model: calendar, url: users_calender_path(calendar), method: :put) do |f| %>
              <p>
                <span>TITLE</span>
                <!--<span id="inputTitle" value=""><%#= f.text_field :title, class: "form-control", placeholder: "input title" %></span>-->
              </p>
                <span>START</span>
                <span><%#= f.datetime_field  :start, placeholder: "XXXX-XX-XX", class:"field" %> ~ </span><br>
                <span>FINISH</span>
                <span><%#= f.datetime_field  :end, placeholder: "XXXX-XX-XX", class:"field" %></span><br>
                <span>DETAIL
                    <%#= f.text_field :body, class: "form-control", placeholder: "title details" %>
                </span>
                <div class="modal-footer">
                    <%#= f.hidden_field :user_id, :value => current_user.id %>
                    <%#= f.submit "EDIT", class: "btn btn-primary" %>
                    <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                </div>
            <%# end %>
          </div>
        </div>

      </div>
    </div>
  </div>
  <%= calendar.body %><br>
  <%= calendar.title %>
<% end %>