<% @calendars.each do |calendar| %>
  <div id='inputScheduleEditForm<%= calendar.id %>' class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-nm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">EDIT</h4>
        </div>

      </div>
    </div>
  </div>
  <%= calendar.body %><br>
  <%= calendar.title %>
<% end %>