<div class="about">
<br>A wardrobes is a small universe.</br>
<br>You can manage your important wardrobes on this site.</br>
<br>Let's go with your favorite wardrobes !!</br>
</div>

<td><%= image_tag 'IMG_3114.jpg', :size =>'250x250' %></td>