<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'wardrobe' %>
	<h3>wardrobes search for "<%= @content %>"</h3>
  <%= render 'wardrobes/index', wardrobes: @records %>
<% end %>