/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
.header{
  width: 100%;
  margin: 0 auto;
  text-align : center;
  font-family: 'Courier New', monospace;
}


ul {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  text-align: center;
  overflow: hidden;
}
ul li{
  padding: 0 5%;
  display: inline;
}

a {
  color: #000;
  text-decoration: none;
}

.logo {
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0 7%;
  color: #222;
  font-family: 'Courier New', monospace;
  font-weight: 300;
}

/*.form-group {*/
/*	width: 200px;*/
/*	float: left;*/
/*	clear: both;*/
/*	margin-right: 30px;*/
/*	margin-left: 10px;*/
/*}*/

.footer {
  margin-top: auto;
  text-align : center;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 30px 0;
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
}


@media (max-width:767px){
  .responsive {
  max-width: 100%;
  height: auto;
}
/*  .nav{*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    background: rgba(0,0,0,0.9);*/
/*    color: #ffffff;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
    /* 初期：非表示 */
/*    visibility: hidden;*/
/*    opacity: 0;*/
    /* ふわっと表示 */
/*    transition: 0.5s ease-in-out;*/
/*  }*/
/*  .nav ul{*/
/*    list-style:none;*/
/*  }*/
/*  .nav li:not(:last-child){*/
/*    margin-bottom: 30px;*/
/*  }*/
/*  .nav a{*/
/*    color: #ffffff;*/
/*  }*/
/*}*/
/* ナビゲーションボタン（開く） */
/*#navbtn{*/
/*  position: fixed;*/
/*  top: 15px;*/
/*  right: 15px;*/
/*  padding: 0;*/
/*  outline: none;*/
/*  border: none;*/
/*  background: none;*/
/*  width: 30px;*/
/*  height: 20px;*/
/*  cursor: pointer;*/
/*}*/

/*#navbtn::before,*/
/*#navbtn::after{*/
/*  content : '';*/
/*  display: block;*/
/*  height: 1px;*/
/*  background-color: #333333;*/
/*  transform: translateY(10px);*/
/*  transition: 0.3s ease-in-out;*/
/*}*/

/*#navbtn::before{*/
/*  transform: translateY(-10px);*/
/*  box-shadow: 0 10px #333333;*/
/*}*/

/* ナビゲーションボタン（閉じる） */
/*.open #navbtn{*/
/*  z-index: 100;*/
/*}*/
/*.open #navbtn::before{*/
/*  transform: rotate(-45deg);*/
/*  box-shadow: none;*/
/*}*/
/*.open #navbtn::after{*/
/*  transform: rotate(45deg);*/
/*  box-shadow: none;*/
/*}*/
/* ナビゲーションメニュー 開いた時*/
/*.open .nav{*/
/*  visibility: visible;*/
/*  opacity: 1;*/
}

@media(min-width: 768px){
  .responsive {
  max-width: 100%;
  height: auto;
}
  /* PCではボタン非表示 */
  /*#navbtn{*/
  /*  display:none;*/
  /*}*/
  /* ヘッダーは横並び */
  /*header{*/
  /*  display: flex;*/
  /*  align-items: center;*/
  /*}*/
  /* メニューを右に寄せる */
  /*.nav{*/
    /* 右寄せ */
  /*  margin-left: auto;*/
  /*}*/
  /*.nav ul{*/
  /*  display: flex;*/
  /*  list-style:none*/
  /*}*/
  /*.nav ul li:not(:first-child){*/
  /*  margin-left:20px;*/
  /*}*/
  /*.nav ul li a {*/
  /*  color: #000000;*/
  /*}*/
}