/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
.header{
  width: 100%;
  margin: 0 auto;
  text-align : center;
}
ul {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  text-align: center;
  overflow: hidden;
}
ul li{
  padding: 0 5%;
  display: inline;
}

a {
  color: #000;
  text-decoration: none;
}
.logo {
  margin: 0 auto;
  padding: 10px 20px;
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  font-family: 'Courier New', monospace;
  font-weight: 300;
}

.form-group {
	width: 200px;
	float: left;
	clear: both;
	margin-right: 30px;
	margin-left: 10px;
}

.footer {
  margin-top: auto;
  text-align : center;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 30px 0;
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
