// Place all the styles related to the PostImages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex_test-box {
  display: inline-block;
  padding: 5%;
  height: 100px;
  flex-wrap: wrap;
}

* {
  margin: 5;
  padding: 0;
}

.item-list {
  
  justify-content: space-between;
  align-items: stretch;
}
.item {
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.item-image {
  text-align:  center;
}

.item-image img {
  width: 50%;
  height: auto;
}