// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group {
	width: 200px;
	float: left;
	clear: both;
	margin-right: 30px;
	margin-left: 10px;
}
.container {
  padding: 0 3%;
}