// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form_box {
	width: 20%;
	float: left;
	clear: both;
	margin-right: 25%;
	margin-left: 1%;
}

.user_content {
   display: flex;
   justify-content: space-between;
    
.user_left {
   width: 60%;
 } 
 
 .user_right {
   width: 20%;
 }
}

.edit_content {
   display: flex;
   justify-content: space-between;
    
.edit_left {
   width: 60%;
 } 
 
 .edit_right {
   width: 20%;
 }
}