// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form_box {
	width: 20%;
	float: left;
	clear: both;
	margin-right: 25%;
	margin-left: 1%;
}
.container {
  padding: 0 3%;
}