// Place all the styles related to the Wardrobes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wardrobe_show {
  text-align:  center;
}

.flex_test-box {
  display: inline-block;
  padding: 5%;
  height: 5%;
  flex-wrap: wrap;
}

.item-list {
  justify-content: space-between;
  align-items: stretch;
}

.item {
  width: 100%;
  padding: 5%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.item-image {
  text-align:  center;
  width: 100%;
}

.item-image img {
  width: 50%;
  height: auto;
}

.wardrobe_content {
 display: flex;
 justify-content: space-between;

 .wardrobe_left {
   width: 20%;
 }

 .wardrobe_right {
   width: 70%;
   display: grid;
 }
}

.edit_content {
   display: flex;
   justify-content: space-between;

.edit_left {
   width: 60%;
 }

 .edit_right {
   width: 20%;
 }
}

@media (max-width:767px){
  .wardrobe_content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

  .wardrobe_right {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-evenly;
    padding-top: 10%;
}
}

 .edit_content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.wardrobe_show {
  display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    align-items: stretch;
}

textarea {
width: 100%;
height: auto;
}

}
