<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing wardrobe</h1>
    	<%= render 'layouts/errors', obj: @wardrobe %>
  		<%#= render 'form', wardrobe: @wardrobe %>
  		<%= link_to 'Show', post_images_path(@post_image), class: "post_image_#{@post_image.id}" %> |
  		<%= link_to 'Back', post_image_path, class: "back" %>
  </div>
</div>